* {
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  background: #000;
}
:root {
  --text-align-center: center;
  --text-align-justify: justify;
  --text-align-left: left;
  --text-align-right: right;
  --text-align-start: start;
  --text-align-end: end;
  --background-white: #fff;
  --background-black: #000;
  --background-mid: hsl(0, 10%, 50%);
  --background-blue1: #0000ff;
  --background-blue2: #0505bd;
  --background-pink: #656596;
  --color-white: rgb(255, 255, 255);
  --color-black: #000;
  --color-mid: hsl(0, 10%, 50%);
  --color-blue: #0000ff;
  --font-family-ui: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-family-Luc: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --font-family-gill: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  --box-shadow-pink: 2px 2px 5px pink;
  --box-shadow-white: 1px 1px 6px white;
  --box-shadow-black: 2px 2px 5px black;
  --font-size-f: 1.5rem;
  --font-size-s: 1rem;
  --font-size-t: 2rem;
  --border-: 1px solid rgb(94, 80, 80);
}
::-webkit-scrollbar{
  width: 5px;
}
::-webkit-scrollbar-thumb{
  
  border-radius: 10px;
  background: #4d4d62;

}
a {
  text-decoration: none;
}
.twitter_common_btn {
  font-family: var(--font-family-gill);
  padding: 0.5rem;
  letter-spacing: 5px;
  border: none;
  box-shadow: var(--box-sizing-pink);
  text-align: center;
}
h1,
h2 {
  letter-spacing: 5px;
  text-transform: capitalize;
  text-align: center;
}
.twitter_main {
  /* border:var(--border-); */
  margin: 2rem;
  padding: 2rem;
}
.twitter_main_align {
  width: 100%;
  /* max-width: 900px; */
  display: grid;
  place-items: center;
  height: auto;
  border: var(--border-);
  position: relative;
  bottom: -2rem;
  border-top: none;
  z-index: 2;
  background: var(--background-black);
}
.twitter_nav {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background: var(--background-black);
  opacity: 0.8;
  /* box-shadow: 2px 2px 5px rgb(189, 96, 127); */
}
.twitter_nav_align {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
}

.twitter_profile {
  width: 50px;
  height: 50px;
  padding: 6px;
  border-radius: 50%;
}
.profileImg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  
}
.align_upload {
  position: relative;
  top: -0.5rem;
  border-radius: 5px;
}

.twitter_logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
.logoImg {
  width: 100%;
  height: 100%;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
}
.twitter_premium h3 {
  width: 100%;

  color: var(--color-blue);
  font-family: var(--font-family-ui);
  font-weight: 400;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.follower_align {
  width: 100%;
  
  line-height: 2rem;
  border-bottom: 1px solid rgb(129, 106, 106);
  border-top: 1px solid rgb(129, 106, 106);
  display: flex;
  justify-content: center;
  justify-content: space-around;
  /* padding: 0.5rem 0; */
  /* line-height: 4rem; */
}

.empty {
  width: 100%;
  border: 3px solid var(--background-blue1);
  border-radius: 1.5rem;
  padding: 0;
}
.ForYou h4 {
  cursor: pointer;
  border-radius: 2px;
  width: 100px;
  text-align: center;
  color: var(--color-white);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 4px;
  padding: 5px;
  /* border-bottom: 4px solid var(--background-blue); */
}
.Follower h4 {
  cursor: pointer;
  border-radius: 2px;
  width: 100px;
  text-align: center;
  color: var(--color-white);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 4px;
  padding: 5px;
  /* border-bottom: 4px solid var(--background-blue); */
}

@media screen and (min-width: 500px) {
  .twitter_nav{
    width: 74%;
    margin: 1px auto;
  }
  .twitter_logo {
    display: none;
  }
  .twitter_premium {
    display: none;
  }
  .twitter_profile {
    display: none;
  }

  .twitter_nav_align {
    line-height: 2px;
  }

  .follower_align h4 {
    line-height: 2rem;
    height: 42px;
 
  }
  .twitter_main_align {
    position: relative;
    bottom: 1rem;
    border-top: none;
  }
  .follower_align{
border: var(--border-);
  }
  .profileImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .textArea{
    padding: 0 1rem;
    letter-spacing: 2px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background: #000;
    font-size: 13px;
    color: #5c5757;
    outline: none;
    border: none;
    resize: none; 
  }
}
